$font-stack: "Century Gothic", sans-serif;

@mixin no-user-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-stack;
    background: #eeeeee;
    overflow: hidden;
    color: #666;
    font-size: 0.9em;

}

h1, h3 {
    color: #FFF;
    text-align: center;
}

.EventItems {
    width: 100%;
    float: left;
}

.EventItem {
    padding: 4px 20px;
    display: block;
    position: relative;
}

.EventItem:hover {
    box-shadow: 0px 0px 10px #9d9;
}

.EventItemFocused {
    background: #ffffff;
    box-shadow: 0px 0px 10px #9d9;
}

.editable {
    width: 90%;
    display: block;
    color: #666;
    font-size: 1em;
    font-family: $font-stack;
    margin-left: -6px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
}

.bold {
    font-weight: bold;
}

.EventPanel {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}
.EventScroller {
    float: right;
    width: 40%;
}
.MapWidget {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
}

.TimeLineWidget {
    box-sizing: border-box;
    float: left;
    width: 10%;
    height: 87%;
    top: 5%;
    position: relative;
    text-align: middle;
}

.TimeLinePoint {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #eeeeee;

}

.TimeLineLine {
    height: 100%;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    //background: #888;
    border: 1px dotted #888;
    border-radius: 10px;

}

%bigButton {
    border-radius: 50px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

%bigButton:hover {
    box-shadow: 0px 0px 10px #9d9;
}

@mixin toggleEditButton() {
    position: fixed;
    bottom: 0px;
    right: 15px;
    @extend %bigButton;
    @include no-user-select();
}

#toggleEditButtonfalse {
    width: 50px;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0px 0px 1px #999;
    @include toggleEditButton();
}

#toggleEditButtontrue {
    width: 60px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #9d9;
    @include toggleEditButton();
}

#addItemButton {
    width: 50px;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0px 0px 1px #999;
    margin-left: 10px;
    @extend %bigButton;
    @include no-user-select();
}

%bigButtonImage {
    height: 24px;
    width: 24px;
    max-width: 50px;
    max-height: 50px;
    @include vertical-align();
}

#addItemButtonImage {
    @extend %bigButtonImage;
}

#toggleEditImage {
    @extend %bigButtonImage;
}

%itemButton {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
}

%itemButton:hover {
    height: 20px;
    width: 20px;
    right: 10px;

}

.deleteItemButton {
    top: 50%;
    margin-top: -5px;
    @extend %itemButton;
}

.deleteItemButton:hover {
    margin-top: -10px;
}

.upItemButton {
    top: 9px;
    @extend %itemButton;
}

.upItemButton:hover {
    top: 4px;
}

.downItemButton {
    bottom: 9px;
    @extend %itemButton;
}

.downItemButton:hover {
    bottom: 4px;
}
