$font-stack: "Century Gothic", sans-serif;

@mixin no-user-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-stack;
    background: #eeeeee;
    overflow: hidden;
    color: #666;
    font-size: 0.9em;

}

h1, h3 {
    color: #FFF;
    text-align: center;
}

.EventScrubber {
    width: 10%;
    float:right;
}

.EventScrubberDot {
    left: 12px;
    width: 10px;
    height: 10px;
    background: green;
    position: relative;
}

.EventItems {
    width: 90%;
    float: left;
}

.EventItem {
    height: 78px;
    padding: 1px 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: #e3e3e3;
    box-shadow: 0px 0px 1px #999;
    display: block;
    position: relative;
}

.EventItem:hover {
    box-shadow: 0px 0px 10px #9d9;
}

.EventItemFocused {
    background: #ffffff;
    box-shadow: 0px 0px 10px #9d9;

}

.editable {
    width: 90%;
    display: block;
    color: #666;
    font-size: 1em;
    font-family: $font-stack;
    margin-top: 8px;
    margin-bottom: -5px;
    margin-left: -6px;
    padding: 4px;
}

.bold {
    font-weight: bold;
}

.EventPanel {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;

}
.EventScroller {
    float: right;
    width: 38%;
}
.MapWidget {
    box-sizing: border-box;
    float: left;
    width: 60%;
    height: 100%;
}

%bigButton {
    border-radius: 50px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

%bigButton:hover {
    box-shadow: 0px 0px 10px #9d9;
}

@mixin toggleEditButton() {
    position: fixed;
    bottom: 0px;
    right: 15px;
    @extend %bigButton;
}

#toggleEditButtonfalse {
    width: 50px;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0px 0px 1px #999;
    @include toggleEditButton();
    @include no-user-select();
}

#toggleEditButtontrue {
    width: 60px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #9d9;
    @include toggleEditButton();
    @include no-user-select();
}

#addItemButton {
    width: 50px;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0px 0px 1px #999;
    @extend %bigButton;
    @include no-user-select();
}

%bigButtonImage {
    height: 24px;
    width: 24px;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}

#addItemButtonImage {
    @extend %bigButtonImage;
}

#toggleEditImage {
    @extend %bigButtonImage;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

%itemButton {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
}

%itemButton:hover {
    height: 20px;
    width: 20px;
    right: 10px;

}

.deleteItemButton {
    top: 36px;
    @extend %itemButton;
}

.deleteItemButton:hover {
    top: 31px;
}

.upItemButton {
    top: 9px;
    @extend %itemButton;
}

.upItemButton:hover {
    top: 4px;
}

.downItemButton {
    top: 62px;
    @extend %itemButton;
}

.downItemButton:hover {
    top: 57px;
}
