doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Title
    link(rel='stylesheet', href='app.css')
  body
    <div id="content"></div>
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA6JBkMIUrJt45TPCMbdgkITL3JTCbywks&sensor=false')
    script(src='app.js')
