doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Title
    link(rel='stylesheet', href='app.css')
  body
    <h1>This is a test App!</h1>
    <div id="content"></div>
    script(src='app.js')
